//Vars

$colors: (
    "primary-color": #ff705b,
    "secondary-color": #ff705b,
    "background-color": #142432,
    "background2-color": #1a2b3b,
    "text-white": #a9d0f2,
    "footer-color": #0a1925
);



html {
    /* Esto hace que el scroll sea suave */
    scroll-behavior: smooth;
}

// .container {
//     border: 1px white solid;
// }

h1,
p {
    color: map-get($colors, "text-white") !important;
}

// main,
// body,
// html {
//     background-color: map-get($colors, "background-color");
// }

nav#mainNav {
    background-color: rgba(26, 43, 59, 0.5) !important;

    color: #ffff;
    /* Fondo semitransparente */
    // border-radius: 10px;
    backdrop-filter: blur(10px);
    /* Efecto borroso */
    -webkit-backdrop-filter: blur(10px);
    /* Soporte para navegadores antiguos */

    div>.navbar-brand {
        font-weight: bold;
        text-transform: uppercase;
    }
}

section#home,
// section#achievements,
section#portfolio,
section#certifications {
    // border: 1px solid gray;
    background-color: map-get($colors, "background-color");


}

//Set padding top & bottom
section#portfolio,
// section#achievements,
section#certifications {
    padding-bottom: 80px;
    padding-top: 80px;
}


section#home {

    div>div.welcome {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100vh;
        // border-color: 1px solid red;

        div {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
}

section#achievements {
    // border: 2px solid gray;
    // min-height: 100vh;
    background-color: map-get($colors, "background2-color");

    div>.content {
        display: flex;
        flex-direction: row;
        align-items: center;

        height: 100vh;

    }
}

section#portfolio {
    height: 100vh;
}


footer {

    background-color: map-get($colors, "background2-color");
    border-bottom: 20px solid map-get($colors, "secondary-color");

    div>div.info {
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.social-networks {
    .item {
        text-align: center;
        height: 45px;
        width: 45px;
        border: 2.5px solid map-get($colors, "secondary-color");
        border-radius: 25px;
        display: flex;
        gap: 10px;
        align-items: center;

        // justify-content: center;
        a>img {
            width: 60%;
        }
    }
}



.card-app {
    // border: 1px solid green;
    .header {
        text-align: left;
        margin-bottom: 25px;

        h1 {
            font-weight: bold;
        }

        h2 {
            font-weight: normal;
            color: map-get($colors, "text-white") !important;
            opacity: 0.8;
        }

        h1,
        h2 {
            line-height: 15px;
            font-size: 18px;
        }
    }
}

.card-body {

    max-width: 370px;
    width: 100%;
    height: 250px;
    // border: 1px gray solid;
    background-color: #ffff;
    border-radius: 25px;
    overflow: hidden;

    display: grid;
    align-content: end;


    // Manejar la imagen de fondo    
    background-image: url(./../img/MDC01.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    .detail {
        height: 70px;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        /* El degradado transparente se extiende hasta el 30% de la altura del div */
        -webkit-mask-image: linear-gradient(to bottom, transparent -10%, rgb(255, 255, 255) 40%);
        mask-image: linear-gradient(to bottom, transparent -10%, rgb(255, 255, 255) 40%);

        -webkit-mask-composite: intersect;
        /* Combina las máscaras (para que ambos degradados actúen juntos) */
        mask-composite: intersect;
        /* Standard */

        // Efecto glass
        /* Fondo semitransparente */
        backdrop-filter: blur(10px);
        /* Efecto borroso */
        -webkit-backdrop-filter: blur(10px);

        div {
            display: grid;
            align-content: center;
            justify-content: center;
            flex-grow: 1;


            // Icon
            &:nth-child(1n),

            // Button
            &:nth-child(3n) {
                flex-grow: 1;
                /* default 0 */
            }

            // Title
            &:nth-child(2n) {
                text-align: left;
                flex-grow: 2;
                /* default 0 */
                justify-content: flex-start;
            }

            img {
                max-width: 30px;
                border-radius: 10px;

            }


            h2 {
                font-weight: bold;
            }

            h2,
            p {
                font-size: 12px;
                color: #ffff;
                padding: 0px;
                margin: 0px;
                line-height: 14px;
            }

            a {
                text-decoration: none;

                span {
                    background-color: rgba(255, 255, 255, 0.4);
                    font-weight: bold;
                    backdrop-filter: blur(10px);
                    /* Efecto borroso */
                    -webkit-backdrop-filter: blur(10px);
                    border-radius: 1px solid #fff;
                    color: white;
                    font-size: 10px;
                    padding: 15px;
                    border-radius: 20px;
                    padding-top: 6px;
                    padding-bottom: 6px;
                }
            }
        }
    }
}

.card-body--img1 {
    background-image: url(./../img/portfolio/customTrainer/portada.png);
}

.swiper.myCardsPictures {
    width: 80%;
    height: 440px;

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px !important;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.1);

        &:nth-child(1n),
        &:nth-child(2n),
        &:nth-child(3n),
        &:nth-child(4n) {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &:nth-child(1n) {
            background-color: rgb(206, 17, 17);
            background-image: url(../img/appleSwiftShowcase01.jpg);

        }

        &:nth-child(2n) {
            background-color: rgb(0, 140, 255);
            background-image: url(../img/MDC02.jpg);
        }

        &:nth-child(3n) {
            background-color: rgb(10, 184, 111);
            background-image: url(../img/appleSwiftShowcase02.jpg);
        }

        &:nth-child(4n) {
            background-color: rgb(211, 122, 7);
            background-image: url(../img/MDC01.jpg);
         
        }

    }
}


.swiper.myCertifications {
    width: 100%;
    height: 440px;
    padding-top: 20px;
    padding-bottom: 20px;

    .swiper-slide {
        text-align: center;
        font-size: 18px;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        article {

            p {
                font-weight: bold;
            }

            a {
                color: map-get($colors, "text-white");
                text-decoration: none;
                text-transform: uppercase;
                font-size: 12px;
                cursor: pointer;
                padding: 10px;

                span {

                    letter-spacing: 1.5px;
                    padding: 10px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border: 1.5px solid map-get($colors, "primary-color");
                    background-color: map-get($colors, "background-color");
                    border-radius: 25px;

                    /* Sombra inicial (sutil o ninguna) */
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

                    /* Transición suave para todos los cambios, especialmente la sombra */
                    transition: all 0.2s ease-in-out;

                    &:hover {

                        font-weight: bold;

                        background-color: map-get($colors, "background-color");
                        /* Un poco más oscuro en hover si quieres */

                        /* --- EFECTO LUMINOSO --- */
                        box-shadow:
                            0 0 15px rgba(0, 123, 255, 0.8),
                            /* Sombra azul brillante */
                            0 0 20px rgba(0, 123, 255, 0.5),
                            /* Sombra azul más difusa y extendida */
                            0 0 25px rgba(0, 123, 255, 0.2);
                        /* Sombra azul aún más difusa */
                        /* Puedes usar solo una sombra, o múltiples sombras separadas por comas
                            para un efecto de brillo más complejo y profundo.
                            Los valores son: offset-x offset-y blur-radius spread-radius color;
                            Aquí, offset-x e offset-y son 0 para un brillo centrado.
                            */
                        transform: translateY(-1px);



                    }
                }
            }

            div.img-content {
                margin: auto;
                margin-bottom: 20px;
                height: 250px;
                width: 250px;
                overflow: hidden;
                border-radius: 35px;
                position: relative;

                background-color: rgba(217, 217, 217, 0.9) !important;

                color: #ffff;
                /* Fondo semitransparente */
                // border-radius: 10px;
                backdrop-filter: blur(10px);
                /* Efecto borroso */
                -webkit-backdrop-filter: blur(10px);

                // bordes con estilo
                background: linear-gradient(white, white) padding-box,
                    linear-gradient(to right, #ff705b, darkorchid) border-box;
                border-radius: 20em;
                border: 8px solid transparent;

                /* Soporte para navegadores antiguos */
                img {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
        }
    }
}

.bannerSwipper {
    margin-top: 30px;
    margin-bottom: 30px;
}
.swiper.myPortfolio {
    width: 100%;
 
 
    .swiper-slide {
        // border: 1px solid blue;
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin: auto;
        margin-bottom: 40px;
    }

    // .swiper-pagination {
    //     margin-top: 300px;
    // }
}





// Tools
.glass-container {
    position: relative;
    width: 300px;
    height: 200px;

    div.glass {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        /* Fondo semitransparente */
        border-radius: 10px;
        backdrop-filter: blur(10px);
        /* Efecto borroso */
        -webkit-backdrop-filter: blur(10px);
        /* Soporte para navegadores antiguos */
    }
}




/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .swiper.myCardsPictures {
        width: 65%;
        height: 230px;
        margin-bottom: 20px;
        margin-top: 20px;
    }


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}