@charset "UTF-8";
html {
  /* Esto hace que el scroll sea suave */
  scroll-behavior: smooth;
}

h1,
p {
  color: #a9d0f2 !important;
}

nav#mainNav {
  background-color: rgba(26, 43, 59, 0.1) !important;
  color: white;
  /* Fondo semitransparente */
  backdrop-filter: blur(10px);
  /* Efecto borroso */
  -webkit-backdrop-filter: blur(10px);
  /* Soporte para navegadores antiguos */
  transition: background-color 0.9s ease;
}
nav#mainNav div > .navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
}
nav#mainNav div > .navbar-nav .nav-item {
  padding-bottom: 10px;
  padding-top: 10px;
}
nav#mainNav div > .navbar-nav .nav-item a {
  font-size: 20px;
  color: #f6f6f6;
  font-weight: bold;
}
nav#mainNav div > .navbar-nav .nav-item a.nav-link.active {
  position: relative;
}
nav#mainNav div > .navbar-nav .nav-item a.nav-link.active::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 85%;
  border-bottom: 4px solid #ff705b;
}
nav#mainNav .container {
  padding-top: 20px;
  padding-bottom: 20px;
  transition: padding 0.4s ease-in-out;
}

nav#mainNav.active {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(215, 215, 215, 0.4) !important;
  box-shadow: -2px 0px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -2px 0px 6px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -2px 0px 6px 1px rgba(0, 0, 0, 0.4);
}
nav#mainNav.active .container {
  padding-top: unset;
  padding-bottom: unset;
}

section#home,
section#portfolio,
section#certifications {
  background-color: #142432;
}

section#portfolio,
section#certifications {
  padding-bottom: 80px;
  padding-top: 80px;
}

/*SECTION*/
section#home {
  overflow: hidden;
}
section#home div > div.welcome {
  animation: 1s ease 0s 1 slideInFromBottom;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}
section#home div > div.welcome div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

div.square {
  width: 400px;
  height: 400px;
  margin-top: 200px;
  border-radius: 120px;
  background-color: #969696;
  overflow: hidden;
  position: relative;
  transform: rotate(45deg);
  animation: shapeDeform 15s infinite alternate ease-in-out;
}
div.square .picture {
  transform: rotate(-45deg);
  width: 600px;
  height: 650px;
  border: 1px red solid;
  background-image: url(./../img/portada.jpeg);
  background-size: cover;
  background-position: center 100px;
  background-repeat: no-repeat;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: -100;
  right: 0;
}

@keyframes shapeDeform {
  0% {
    background-color: #3498db;
    /* Azul */
    border: 5px solid #3498db;
    box-shadow: -2px 7px 24px -6px #3498db;
    -webkit-box-shadow: -2px 7px 24px -6px #3498db;
    -moz-box-shadow: -2px 7px 24px -6px #3498db;
  }
  50% {
    background-color: #ba2c5c;
    /* Verde */
    border: 5px solid #ba2c5c;
    box-shadow: -2px 7px 24px -6px #ba2c5c;
    -webkit-box-shadow: -2px 7px 24px -6px #ba2c5c;
    -moz-box-shadow: -2px 7px 24px -6px #ba2c5c;
  }
  60% {
    background-color: #2ecc71;
    /* Verde */
    border: 5px solid #2ecc71;
    box-shadow: -2px 7px 24px -6px #2ecc71;
    -webkit-box-shadow: -2px 7px 24px -6px #2ecc71;
    -moz-box-shadow: -2px 7px 24px -6px #2ecc71;
  }
  100% {
    background-color: #e74c3c;
    /* Rojo */
    border: 5px solid #e74c3c;
    box-shadow: -2px 7px 24px -6px #e74c3c;
    -webkit-box-shadow: -2px 7px 24px -6px #e74c3c;
    -moz-box-shadow: -2px 7px 24px -6px #e74c3c;
  }
}
/*SECTION*/
section#achievements {
  background-color: #1a2b3b;
}
section#achievements div > .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

section#portfolio {
  background-color: #274057;
  height: 100vh;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  margin-top: -250px;
  box-sizing: border-box;
  padding-top: 100px;
  overflow: hidden;
  animation: pulseGradientGlow 6s infinite alternate ease-in-out;
}

/*SECTION*/
section#certifications {
  padding-bottom: 350px;
}

footer {
  background-color: #142432;
  border-bottom: 20px solid #ff705b;
}
footer div > div.info {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-networks {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-self: center;
}
.social-networks .item {
  text-align: center;
  height: 45px;
  width: 45px;
  border: 2.5px solid #ff705b;
  border-radius: 25px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.social-networks .item a > img {
  width: 60%;
}

.card-app .header {
  text-align: left;
  margin-bottom: 10px;
  max-width: 370px;
  width: 100%;
  height: 75px;
}
.card-app .header h1 {
  font-weight: bold;
}
.card-app .header h2 {
  font-weight: normal;
  color: #a9d0f2 !important;
  opacity: 0.8;
}
.card-app .header h1,
.card-app .header h2 {
  line-height: 20px;
  font-size: 18px;
}

.card-body {
  cursor: pointer;
  max-width: 370px;
  width: 100%;
  height: 265px;
  border-radius: 25px;
  display: grid;
  align-content: end;
  border: 0.5px solid #8da1b1;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  transition: 0.3s;
  overflow: hidden;
  opacity: 0.9;
}
.card-body:hover {
  height: 265px;
}
.card-body .detail {
  height: 70px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
  /* El degradado transparente se extiende hasta el 30% de la altura del div */
  -webkit-mask-image: linear-gradient(to bottom, transparent -10%, rgb(255, 255, 255) 40%);
  mask-image: linear-gradient(to bottom, transparent -10%, rgb(255, 255, 255) 40%);
  -webkit-mask-composite: intersect;
  /* Combina las máscaras (para que ambos degradados actúen juntos) */
  mask-composite: intersect;
  /* Standard */
  /* Fondo semitransparente */
  backdrop-filter: blur(10px);
  /* Efecto borroso */
  -webkit-backdrop-filter: blur(10px);
}
.card-body .detail div {
  display: grid;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
}
.card-body .detail div:nth-child(1n), .card-body .detail div:nth-child(3n) {
  flex-grow: 1;
  /* default 0 */
}
.card-body .detail div:nth-child(2n) {
  text-align: left;
  flex-grow: 2;
  /* default 0 */
  justify-content: flex-start;
}
.card-body .detail div img {
  max-width: 30px;
  border-radius: 10px;
  box-shadow: -2px 6px 16px 1px rgba(0, 0, 0, 0.3);
}
.card-body .detail div h2 {
  font-weight: bold;
}
.card-body .detail div h2,
.card-body .detail div p {
  font-size: 12px;
  color: white !important;
  padding: 0px;
  margin: 0px;
  line-height: 14px;
}
.card-body .detail div a {
  text-decoration: none;
}
.card-body .detail div a span {
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  backdrop-filter: blur(10px);
  /* Efecto borroso */
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1px solid #fff;
  color: white;
  font-size: 10px;
  padding: 15px;
  border-radius: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: 0.3s;
}
.card-body .detail div a span:hover {
  background-color: rgba(198, 198, 198, 0.4);
  font-size: 11px;
}

.card-body--img1 {
  background-image: url(./../img/portfolio/customTrainer/portada.png);
}

.card-body--img2 {
  background-image: url(./../img/portfolio/wextore/landing.jpg);
}

.swiper.myCardsPictures {
  width: 80%;
  height: 440px;
}
.swiper.myCardsPictures .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px !important;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.1);
}
.swiper.myCardsPictures .swiper-slide:nth-child(1n), .swiper.myCardsPictures .swiper-slide:nth-child(2n), .swiper.myCardsPictures .swiper-slide:nth-child(3n), .swiper.myCardsPictures .swiper-slide:nth-child(4n) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper.myCardsPictures .swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
  background-image: url(../img/appleSwiftShowcase01.jpg);
}
.swiper.myCardsPictures .swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
  background-image: url(../img/MDC02.jpg);
}
.swiper.myCardsPictures .swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
  background-image: url(../img/appleSwiftShowcase02.jpg);
}
.swiper.myCardsPictures .swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
  background-image: url(../img/MDC01.jpg);
}

.swiper.myCertifications {
  width: 100%;
  height: 440px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.swiper.myCertifications .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.swiper.myCertifications .swiper-slide article p {
  font-weight: bold;
}
.swiper.myCertifications .swiper-slide article a {
  color: #a9d0f2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  padding: 10px;
}
.swiper.myCertifications .swiper-slide article a span {
  letter-spacing: 1.5px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1.5px solid #ff705b;
  background-color: #142432;
  border-radius: 25px;
  /* Sombra inicial (sutil o ninguna) */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Transición suave para todos los cambios, especialmente la sombra */
  transition: all 0.2s ease-in-out;
}
.swiper.myCertifications .swiper-slide article a span:hover {
  font-weight: bold;
  background-color: #142432;
  /* Un poco más oscuro en hover si quieres */
  /* --- EFECTO LUMINOSO --- */
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.8), 0 0 20px rgba(0, 123, 255, 0.5), 0 0 25px rgba(0, 123, 255, 0.2);
  /* Sombra azul aún más difusa */
  /* Puedes usar solo una sombra, o múltiples sombras separadas por comas
      para un efecto de brillo más complejo y profundo.
      Los valores son: offset-x offset-y blur-radius spread-radius color;
      Aquí, offset-x e offset-y son 0 para un brillo centrado.
      */
  transform: translateY(-1px);
}
.swiper.myCertifications .swiper-slide article div.img-content {
  margin: auto;
  margin-bottom: 20px;
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 60px;
  position: relative;
  background-color: rgba(217, 217, 217, 0.9) !important;
  color: white;
  /* Fondo semitransparente */
  backdrop-filter: blur(10px);
  /* Efecto borroso */
  -webkit-backdrop-filter: blur(10px);
  /* Soporte para navegadores antiguos */
}
.swiper.myCertifications .swiper-slide article div.img-content img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.bannerSwipper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.swiper.myPortfolio {
  width: 100%;
  height: 380px;
}
.swiper.myPortfolio .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
}

.glass-container {
  position: relative;
  width: 300px;
  height: 200px;
}
.glass-container div.glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  /* Fondo semitransparente */
  border-radius: 10px;
  backdrop-filter: blur(10px);
  /* Efecto borroso */
  -webkit-backdrop-filter: blur(10px);
  /* Soporte para navegadores antiguos */
}

/*----------------------------------------------------------------------------------*/
/*                      ANIMACIONES                                                 */
/*----------------------------------------------------------------------------------*/
.slideIn--FromBottom {
  animation: 1s ease 0s 1 slideInFromBottom;
}

.slideIn--FromTop {
  animation: 1s ease 0s 1 slideInFromTop;
}

/* #region MediaQueries   */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes pulseBorderColor {
  0% {
    border: 0.5px solid red;
  }
  100% {
    border: 0.5px solid blue;
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pulseGradientGlow {
  0% {
    /* Estado inicial: resplandor más sutil con tonos cian */
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.5), 0 0 45px rgba(0, 220, 220, 0.2);
    /* Cian más oscuro/difuso */
  }
  50% {
    /* Punto medio: resplandor más grande e intenso con tonos púrpura */
    box-shadow: 0 0 25px rgba(128, 0, 128, 0.9), 0 0 45px rgba(160, 0, 160, 0.6), 0 0 60px rgba(192, 0, 192, 0.3);
    /* Púrpura para un halo extendido */
  }
  100% {
    /* Vuelve al estado inicial, pero con una transición de color suave */
    /* Combinación de cian y púrpura para el retorno gradual */
    /* Vuelve al estado inicial para un ciclo continuo */
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.5), 0 0 45px rgba(0, 220, 220, 0.2);
    /* Cian más oscuro/difuso */
  }
}
@keyframes pulseGradientGlowGold {
  0% {
    /* Estado inicial: resplandor más sutil con tonos cian */
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.5), 0 0 45px rgba(0, 220, 220, 0.2);
    /* Cian más oscuro/difuso */
  }
  50% {
    /* Punto medio: resplandor más grande e intenso con tonos púrpura */
    box-shadow: 0 0 25px rgba(128, 0, 128, 0.9), 0 0 45px rgba(160, 0, 160, 0.6), 0 0 60px rgba(192, 0, 192, 0.3);
    /* Púrpura para un halo extendido */
  }
  100% {
    /* Vuelve al estado inicial, pero con una transición de color suave */
    /* Combinación de cian y púrpura para el retorno gradual */
    /* Vuelve al estado inicial para un ciclo continuo */
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.5), 0 0 45px rgba(0, 220, 220, 0.2);
    /* Cian más oscuro/difuso */
  }
}
@keyframes pulseGlowCoral {
  0% {
    /* Inicio: sutil */
    box-shadow: 0 0 10px rgba(255, 112, 91, 0.3), 0 0 20px rgba(255, 112, 91, 0.15);
  }
  25% {
    /* Aumenta suavemente */
    box-shadow: 0 0 15px rgba(255, 112, 91, 0.4), 0 0 30px rgba(255, 112, 91, 0.2);
  }
  50% {
    /* Máxima intensidad */
    box-shadow: 0 0 20px rgba(255, 112, 91, 0.6), 0 0 40px rgba(255, 112, 91, 0.3);
  }
  75% {
    /* Disminuye gradualmente */
    box-shadow: 0 0 15px rgba(255, 112, 91, 0.35), 0 0 25px rgba(255, 112, 91, 0.15);
  }
  100% {
    /* Vuelve al estado inicial */
    box-shadow: 0 0 10px rgba(255, 112, 91, 0.3), 0 0 20px rgba(255, 112, 91, 0.15);
  }
}
@keyframes pulseGlowAqua {
  0% {
    box-shadow: 0 0 10px rgba(3, 189, 149, 0.3), 0 0 20px rgba(0, 255, 195, 0.2);
  }
  25% {
    box-shadow: 0 0 15px rgba(3, 189, 149, 0.4), 0 0 30px rgba(0, 255, 170, 0.25);
  }
  75% {
    box-shadow: 0 0 15px rgba(3, 189, 149, 0.35), 0 0 25px rgba(0, 255, 195, 0.2);
  }
  100% {
    box-shadow: 0 0 10px rgba(3, 189, 149, 0.3), 0 0 20px rgba(0, 255, 195, 0.2);
  }
}
@keyframes pulseGradientGlowWarm {
  0% {
    box-shadow: 0 0 10px rgba(234, 129, 41, 0.4), 0 0 20px rgba(234, 129, 41, 0.3), 0 0 30px rgba(234, 129, 41, 0.2);
  }
  25% {
    box-shadow: 0 0 15px rgba(223, 92, 48, 0.5), 0 0 30px rgba(223, 92, 48, 0.4), 0 0 40px rgba(223, 92, 48, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(200, 60, 60, 0.6), 0 0 35px rgba(200, 60, 60, 0.5), 0 0 50px rgba(200, 60, 60, 0.4);
  }
  75% {
    box-shadow: 0 0 25px rgba(186, 44, 92, 0.7), 0 0 40px rgba(186, 44, 92, 0.5), 0 0 55px rgba(186, 44, 92, 0.3);
  }
  100% {
    box-shadow: 0 0 10px rgba(234, 129, 41, 0.4), 0 0 20px rgba(234, 129, 41, 0.3), 0 0 30px rgba(234, 129, 41, 0.2);
  }
}
/* #endregion    */
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/* #region MediaQueries   */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  section#home div > div.square {
    height: 310px;
  }
  section#achievements {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  section#achievements div > .content {
    height: auto;
  }
  section#achievements div > .content .swiper.myCardsPictures {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  section#achievements div > .content div.text {
    margin: auto;
    width: 80%;
  }
  section#portfolio {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  nav#mainNav {
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
  }
  nav#mainNav div > .navbar-nav .nav-item {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  nav#mainNav div > .navbar-nav .nav-item a {
    font-size: 20px;
    font-weight: bold;
    padding-left: 25px;
  }
  .swiper.myCardsPictures {
    width: 65%;
    height: 230px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .card-body {
    transition: 0.3s;
  }
  section#home div > div.welcome {
    height: auto;
    min-height: 450px;
    padding-bottom: 90px;
    padding-top: 200px;
  }
  section#home div.square {
    width: 80%;
    height: 350px;
    margin-top: unset;
    margin-bottom: 150px;
  }
}
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/* #endregion *//*# sourceMappingURL=style.css.map */