@charset "UTF-8";
html {
  /* Esto hace que el scroll sea suave */
  scroll-behavior: smooth;
}

h1,
p {
  color: #a9d0f2 !important;
}

nav#mainNav {
  background-color: rgba(26, 43, 59, 0.5) !important;
  color: white;
  /* Fondo semitransparente */
  backdrop-filter: blur(10px);
  /* Efecto borroso */
  -webkit-backdrop-filter: blur(10px);
  /* Soporte para navegadores antiguos */
}
nav#mainNav div > .navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
}

section#home,
section#portfolio,
section#certifications {
  background-color: #142432;
}

section#portfolio,
section#certifications {
  padding-bottom: 80px;
  padding-top: 80px;
}

section#home div > div.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}
section#home div > div.welcome div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

section#achievements {
  background-color: #1a2b3b;
}
section#achievements div > .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

footer {
  background-color: #1a2b3b;
  border-bottom: 20px solid #ff705b;
}
footer div > div.info {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-networks .item {
  text-align: center;
  height: 45px;
  width: 45px;
  border: 2.5px solid #ff705b;
  border-radius: 25px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.social-networks .item a > img {
  width: 60%;
}

.card-app .header {
  margin-bottom: 25px;
}
.card-app .header h1 {
  font-weight: bold;
}
.card-app .header h2 {
  font-weight: normal;
  color: #a9d0f2 !important;
  opacity: 0.8;
}
.card-app .header h1, .card-app .header h2 {
  line-height: 15px;
  font-size: 18px;
}

.card-body {
  width: 370px;
  height: 250px;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  display: grid;
  align-content: end;
  background-image: url(./../img/MDC01.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.card-body .detail {
  height: 70px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* El degradado transparente se extiende hasta el 30% de la altura del div */
  -webkit-mask-image: linear-gradient(to bottom, transparent -10%, rgb(255, 255, 255) 40%);
  mask-image: linear-gradient(to bottom, transparent -10%, rgb(255, 255, 255) 40%);
  -webkit-mask-composite: intersect;
  /* Combina las máscaras (para que ambos degradados actúen juntos) */
  mask-composite: intersect;
  /* Standard */
  /* Fondo semitransparente */
  backdrop-filter: blur(10px);
  /* Efecto borroso */
  -webkit-backdrop-filter: blur(10px);
}
.card-body .detail div {
  display: grid;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
}
.card-body .detail div:nth-child(1n), .card-body .detail div:nth-child(3n) {
  flex-grow: 1; /* default 0 */
}
.card-body .detail div:nth-child(2n) {
  flex-grow: 2; /* default 0 */
  justify-content: flex-start;
}
.card-body .detail div img {
  max-width: 30px;
  border-radius: 10px;
}
.card-body .detail div h2 {
  font-weight: bold;
}
.card-body .detail div h2,
.card-body .detail div p {
  font-size: 12px;
  color: white;
  padding: 0px;
  margin: 0px;
  line-height: 14px;
}
.card-body .detail div a {
  text-decoration: none;
}
.card-body .detail div a span {
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  backdrop-filter: blur(10px);
  /* Efecto borroso */
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1px solid #fff;
  color: white;
  font-size: 10px;
  padding: 15px;
  border-radius: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.card-body--img1 {
  background-image: url(./../img/portfolio/customTrainer/portada.png);
}

.swiper.myCardsPictures {
  width: 80%;
  height: 440px;
}
.swiper.myCardsPictures .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px !important;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.1);
}
.swiper.myCardsPictures .swiper-slide:nth-child(1n), .swiper.myCardsPictures .swiper-slide:nth-child(2n), .swiper.myCardsPictures .swiper-slide:nth-child(3n), .swiper.myCardsPictures .swiper-slide:nth-child(4n) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper.myCardsPictures .swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
  background-image: url(../img/appleSwiftShowcase01.jpg);
}
.swiper.myCardsPictures .swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
  background-image: url(../img/MDC02.jpg);
}
.swiper.myCardsPictures .swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
  background-image: url(../img/appleSwiftShowcase02.jpg);
}
.swiper.myCardsPictures .swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
  background-image: url(../img/MDC01.jpg);
}

.swiper.myCertifications {
  width: 100%;
  height: 440px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.swiper.myCertifications .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.swiper.myCertifications .swiper-slide article p {
  font-weight: bold;
}
.swiper.myCertifications .swiper-slide article a {
  color: #a9d0f2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  padding: 10px;
}
.swiper.myCertifications .swiper-slide article a span {
  letter-spacing: 1.5px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1.5px solid #ff705b;
  background-color: #142432;
  border-radius: 25px;
  /* Sombra inicial (sutil o ninguna) */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Transición suave para todos los cambios, especialmente la sombra */
  transition: all 0.2s ease-in-out;
}
.swiper.myCertifications .swiper-slide article a span:hover {
  font-weight: bold;
  background-color: #142432;
  /* Un poco más oscuro en hover si quieres */
  /* --- EFECTO LUMINOSO --- */
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.8), 0 0 20px rgba(0, 123, 255, 0.5), 0 0 25px rgba(0, 123, 255, 0.2);
  /* Sombra azul aún más difusa */
  /* Puedes usar solo una sombra, o múltiples sombras separadas por comas
      para un efecto de brillo más complejo y profundo.
      Los valores son: offset-x offset-y blur-radius spread-radius color;
      Aquí, offset-x e offset-y son 0 para un brillo centrado.
      */
  transform: translateY(-1px);
}
.swiper.myCertifications .swiper-slide article div.img-content {
  margin: auto;
  margin-bottom: 20px;
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 35px;
  position: relative;
  background-color: rgba(217, 217, 217, 0.9) !important;
  color: white;
  /* Fondo semitransparente */
  backdrop-filter: blur(10px);
  /* Efecto borroso */
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, #ff705b, darkorchid) border-box;
  border-radius: 20em;
  border: 8px solid transparent;
  /* Soporte para navegadores antiguos */
}
.swiper.myCertifications .swiper-slide article div.img-content img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.glass-container {
  position: relative;
  width: 300px;
  height: 200px;
}
.glass-container div.glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  /* Fondo semitransparente */
  border-radius: 10px;
  backdrop-filter: blur(10px);
  /* Efecto borroso */
  -webkit-backdrop-filter: blur(10px);
  /* Soporte para navegadores antiguos */
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .swiper.myCardsPictures {
    width: 65%;
    height: 230px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina *//*# sourceMappingURL=style.css.map */